<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Информация о товаре</title>
</head>
<body>
<form method="get" th:action="@{/person account}">
    <button type="submit">Вернуться в личный кабинет</button>
</form><br>
<a class="two" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
<fieldset>
    <legend>Информация о товаре:</legend>
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Бренд: ' + ${product.getSeller()}"></p>
    <p th:text="'Тип средства: ' + ${product.getCategory().getName()}"></p>
</fieldset>
<div class="grid">
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" width="300px">
    </div>
</div>
</body>
</html>