<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        .btn-primary {
            background-color: olivedrab;
            border: none;
        }
        .btn-primary:hover {
            background-color: #ff66cc;
        }
    </style>
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
<form method="get" th:action="@{/product}">
    <button class="btn btn-primary" type="submit">Вернуться в магазин</button>
</form>
<div class="reg">
    <div></div>
    <div>
        <h3 style="color: darkolivegreen">Регистрация</h3>
        <form class="greenborder" method="post" th:actioin="@{/registration}" th:object="${person}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="login">Введите логин:</label>
            <input class="greenborder" type="text" th:field="*{login}" id="login"><br>
            <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            <label for="password">Введите пароль:</label>
            <input class="greenborder" type="password" th:field="*{password}" id="password"><br>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <label for="nameUser">Укажите Ваши ФИО:</label>
            <input class="greenborder" type="text" th:field="*{nameUser}" id="nameUser"><br>
            <div style="color: red" th:if="${#fields.hasErrors('nameUser')}" th:errors="*{nameUser}"></div>
            <label for="deliveryAddress">Укажите адрес доставки:</label>
            <input class="greenborder" type="text" th:field="*{deliveryAddress}" id="deliveryAddress"><br>
            <div style="color: red" th:if="${#fields.hasErrors('deliveryAddress')}"
                 th:errors="*{deliveryAddress}"></div>
            <label for="deliveryAddress">Укажите номер телефона:</label>
            <input class="greenborder" type="text" th:field="*{phoneNumber}" id="phoneNumber"><br>
            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
            <label for="email">Укажите адрес электронной почты:</label>
            <input class="greenborder" type="text" th:field="*{email}" id="email"><br>
            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                <a class="btn btn-primary" href="/authentication" role="button">Войти</a>
            </div>
        </form>
    </div>
    <div></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous">
</script>
</body>
</html>